
*{
    margin: 0;
    padding: 0;
}
:root{
    box-sizing: border-box;
}
*,
*::before,
*::after {
     box-sizing: inherit;
}
body{
    background-color: hsl(200, 80%, 30%);
    background-image: radial-gradient(hsl(200, 80%, 30%),hsl(210,80%,20%));
    color: white;
    font-family:'Raleway', sans-serif;
    line-height: 1.4;
    min-height: 100vh;
}

main{
    display: block;
}
img{
    max-width: 100%;
}
/*======nav=======*/
h1,h2,h3{
    font-family: 'Alfa Slab One', cursive;
    font-weight: 400;
}
@media (min-width: 30em){
    .page-header{
        padding: 1.8rem 3.6rem ;
    }
}
@media (min-width:30em){
    .main-nav{
        position: fixed;
        top: 8em;
        left: 0;
        z-index: 10;
        background-color: transparent;
        transition:background-color 0.5s linear;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
    }
    .main-nav:hover{
        background-color: rgba(0,0,0,0.6);
    }
}
.nav-links{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0 1rem;
    list-style: none;
}
.nav-links>li>a{
    display: block;
    padding: 0.8em 0;
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.06em;/*字母间距*/
}
.nav-links__icon{
    height: 1.5em;
    width: 1.5em;
    vertical-align: -0.2em;
}
.nav-links>li>a:hover{
    color: hsl(40,100%,70%);
}

@media (min-width:30em){
    .nav-links{
        display: block;
        padding: 1em;
        margin-bottom: 0;
    }
    .nav-links>li+li{
        margin-left: 0;
    }
    .nav-links__label{
        display: inline-block;
        margin-left: 0.5em;
        padding-right: 0.5em;
        opacity: 0;
        transform: translate(-1em);
        transition: transform 0.4s cubic(0.2,0.9,0.3,1.3),
                    opacity 0.4s linear;
    }
    .nav-links:hover .nav-links__label,
    .nav-links a:focus>.nav-links__label{
        opacity: 1;
        transform: translate(0);
    }
    .nav-links>li:nth-child(2) .nav-links__label{
        transition-delay: 0.07s;
    }
    .nav-links>li:nth-child(3) .nav-links__label{
        transition-delay: 0.14s;
    }
    .nav-links>li:nth-child(4) .nav-links__label{
        transition-delay: 0.21s;
    }
    .nav-links>li:nth-child(5) .nav-links__label{
        transition-delay: 0.28s;
    }
    .nav-links__icon{
        transition: transform 0.2s ease-out;
    }
    .nav-links a:hover>.nav-links__icon,
    .nav-links a:focus>.nav-links__icon{
        transform: scale(1.3);
    }
}
/*===^^^^^^^===*/
/*====main====*/
.flyin-grid{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 2rem;
    perspective: 500px;
}
.card{
    background-color: white;
    color: hsl(210,15%,20%);
    box-shadow: 10px;
    animation: fly-in 0.8s ease-in;
    backface-visibility: hidden;
    animation-fill-mode:backwards ;
}
@keyframes fly-in{
    0%
    {
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
    }
    56%{
        transform: translateZ(-160px) rotateY(87deg);
        opacity: 1;
    }
    100%{
        transform: translateZ(0) rotateY(0);
    }
}
.card>img{
    height: 240px;
    width: 400px;
}
.card>h4{
    margin-left: 10px;
}
.card>p{
    margin: 0 10px;
    text-indent: 2em;
}
.card:nth-child(1){
    grid-column: 2/4;
    grid-row: 1/2;
}
.card:nth-child(2){
    grid-column: 4/6;
    grid-row: 1/2;
    animation-delay: 0.15s;
}
.card:nth-child(3){
    grid-column: 6/8;
    grid-row:1/2;
    animation-delay: 0.3s;
}
.card:nth-child(4){
    grid-column: 2/4;
    grid-row: 2/3;
    animation-delay: 0.45s;
}