*{padding: 0;margin: 0;}
  :root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
  }
  @media (min-width:50em){
    :root{
    font-size: 1.125em;
   }
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    font-family: Helvetica, Arial, sans-serif;
  }
  img{
    max-width: 100%;
  }
  /*
  @media断点分别为0--35em--50em
  /*
   * Links
   */
  a:link {
    color: #1476b8;
    font-weight: bold;
    text-decoration: none;
  }
  a:visited {
    color: #1430b8;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    color: #b81414;
  }
  /*
  *title
  */
  .title.h1{
    color: #333;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 0.2em 0;
  }
 @media (min-width:35em){
  .title>h1{
    font-size: 2.25em;
  }
 }
  /*
  *menu
  */
  .menu{
    position: relative;
  }
  .menu-toggle {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -1.4em;
    right: 0.4em;
    border: 0;
    background-color: transparent;
    font-size: 2.5em;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
  }
  .line{
    width: 100%;
    height: 0.8em;
    margin: 5px auto;
    background-color: #000;
    border-radius: 8px;
  }
  .menu-dropdown{
    display: none;
    position: absolute;
    right: 0;
    left: 0;
  }
  .menu-dropdown.open{
    display: block;
  }
  @media (min-width:35em){
    .menu-toggle{
      display: none;
    }
    .menu-dropdown{
      display: block;
      position: static;
    }
  }
  .nav-menu{
    padding-left: 0;
    border: 1px solid #ccc;
    list-style: none;
    background-color: #000;
    color: #fff;
  }
  .nav-menu>li+li{
    border-top: 1px solid #ccc;
  }
  .nav-menu>li>a{
    display: block;
    padding:0.8em 1em;
    color: #fff;
    font-weight: normal;
  }
  @media (min-width:35em){
    .nav-menu{
      display: flex;
      border: 0;
      padding: 0 1em;
    }
    .nav-menu>li{
      flex: 1;
    }
    .nav-menu>li+li{
      border: 0;
    }
    .nav-menu>li>a{
      padding: 0.3em;
      text-align: center;
    }
  }
  @media (min-width:50em){
    .nav-menu{
      padding: 0 4em;
    }
  }

  /*
   * Header section
   */
  .page-header {
    padding: 0.4em 1em;
    background-color: #fff;
  }
  @media (min-width:35em){
    .page-header{
      padding: 1em;
    }
  }
  @media (min-width:50em){
    .page-header{
      padding: 1em 4em;
    }
  }

  .title > h1 {
    color: #333;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: .2em 0;
  }

  .slogan {
    color: #888;
    font-size: 0.875em;
    margin: 0;
  }

  /*
   * Hero image
   */
  .hero {
    padding: 2em 1em;
    text-align: center;
    background-image: url(coffee-beans-small.jpg);
    background-size: 100%;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.3em #000;
  }
  @media (min-width:35em){
    .hero{
      padding: 5em 3em;
      font-size: 1.2rem;
      background-image: url(coffee-beans-medium.jpg);
    }
  }
  @media (min-width:50em){
    .hero{
      padding: 7em 6em;
      background-image: url(coffee-beans.jpg);
    }
  }



  /*
   * Main section
   */
   main {
     padding: 1em;
   }
   @media (min-width:35em){
    main{
      padding: 2em 1em;
    }
   }
   @media (min-width:50em){
    main{
      padding: 2em 4em;
    }
   }
  .subtitle {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 0.875rem;
    text-transform: uppercase;
  }
  @media (min-width:35em){
    .row{
      display: flex;
      margin-left: -0.75em;
      margin-right: -0.75em;
    }
    .column{
      flex: 1;
      margin-left: 0.75em;
      margin-right: 0.75em;
    }
  }
  /*
  *@media
  *